<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Inscris toi !</h1>
<form action="/registerUser" method="post">
    <div>
        <label for="name">Nom</label>
            <input type="text" name="name" placeholder="Entrez le nom">
    </div>

    <div>
        <label for="age">Age</label>
        <input type="number" name="age" placeholder="Entrez l'age">
    </div>

    <button type="submit" class="btn-sub">Valider</button>
</form>
</body>
</html>